@media (max-width: 599px) {
  .container {
    padding-top: 10px;
  }
}

img {
  display: block;
  margin: 10px auto;
  max-width: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

body {
  height: 150vh;
  background-color: #9ac1b3;
  padding: 0;
  margin: -8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
}

mat-form-field {
  width: 50%;
  max-width: 750px;
  height: 65px;
  margin-bottom: 2px;
}

.container mat-list-item {
  margin: 4px 0;
  padding: 4px 0;
}

input[type="text"], input[type="datetime-local"] {
  width: 100%;
  min-width: 140px;
  height: 50px;
  font-size: 16px;
  margin: 2px 0;

}

button {
  height: 80px;
  min-width: 140px;
  width: 50%;
  max-width: 750px;
  margin-top: 8px;
  margin-bottom: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f1ab50;
}

h3 {
  margin: 20px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
}

li {
  margin: 10px 0;
}

.center {
  margin-top: -30px;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin: 40px 0 20px 0;
}


